* {
  font-family: 'Poppins', sans-serif;
}

:root {
  --q-border-radius: 16px;
}

.input-rounded .q-field__control {
  border-radius: 15px;
}

.q-dialog__inner--fullwidth > .advanced-modal {
  width: 80rem !important;
}

.q-border-radius {
  border-radius: var(--q-border-radius) !important;
}

.q-t-border-radius {
  border-top-left-radius: var(--q-border-radius) !important;
  border-top-right-radius: var(--q-border-radius) !important;
}

.q-b-border-radius {
  border-bottom-left-radius: var(--q-border-radius) !important;
  border-bottom-right-radius: var(--q-border-radius) !important;
}

.no-display{
  display: none !important;
}

.card-login {
  border-top: 4px solid var(--q-primary);
  border-radius: 15px;
}

.table-index thead tr th {
  position: sticky;
  z-index: 1;
}

.table-index thead tr:first-child th {
  top: 0;
}

.table-light {
  background-color: #f5f5f5;
  color: #000;
}

.table-dark {
  background-color: #1d1d1d;
  color: #fff;
}

.q-dark .q-table__bottom {
  color: #fff;
}

.link-footer {
  color: #fff;
  font-weight: 900;
  text-decoration: none;
}

.breadcrumb-link {
  text-decoration: none;
  color: inherit;
}

.breadcrumb-label {
  text-decoration: none;
  cursor: text;
}

.expansion-item-filter {
  font-size: 1rem;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.no-decoration{
  text-decoration: none;
}

.border{
  border: 1px solid var(--q-primary);
}

.custom-caption{
  text-align: center;
  padding: 12px;
  color: white;
  background-color: rgba(0, 0, 0, .3);
}

.w-25{
  width: 25% !important;
}

.w-50{
  width: 50% !important;
}

.w-75{
  width: 75% !important;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-start{
  display: flex;
  align-items: start;
  justify-content: start;
}

.flex-end{
  display: flex;
  align-items: end;
  justify-content: end;
}


.row-center{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.row-start{
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
}

.row-end{
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: end;
}